.container {
  min-height: 84vh;
  margin: 0 auto 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 2em 1em 0 1em;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  >:last-child {
    margin-top: 1em;
  }

  .button{
    
  }
}
