$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$border-radius: 12px;
$border: 1px solid #d1d1d1;
$gray: #a0aec0;

.creating_section {
  background-color: white;
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;

  border-radius: $border-radius;
  box-shadow: $box-shadow;

  h3 {
    font-weight: bold;
  }

  .create_link {
    margin-top: 1em;
  }
  .short_link {
    display: flex;
    font-size: larger;
    margin-bottom: 1em;
    p {
      margin: auto;
    }

    input {
      font-size: large;
    }
  }
}

.container {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: white;
  border-radius: 8px;
  padding: 2em;
  margin-top: 1em;

  .result {
    a {
      font-size: larger;
      word-break: break-all;
    }

    .links {
      margin-top: 1em;

      .tag {
        margin-bottom: 1em;
        border: none;
        padding: 0.5em 1em;

        transition: all 0.5s;

        &:hover{
          background-color: #1890ff;
           a{
            color: white;
           }
        }
      }
    }
  }
}
