$border-radius: 12px;
$box-shadow: 0 12px 15px rgb(140 152 164 / 10%);

.card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 0.8em;
  width: 300px;

  height: 280px;
  padding: 1em;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  display: flex;
  flex-direction: column;

  &:hover{
    cursor: pointer;
  }

  .image {
    object-fit: contain;
    width: 50%;
    border-radius: $border-radius $border-radius 0 0;
    
    padding: 1em 1em 0 1em;
    margin-left: auto;
    margin-right: auto;
    
    min-width: 50%;
    min-height: 50%;
  }

  .title {
    font-weight: bold;
    margin: 2em 0 0.5em 0 !important;

    text-align: left;
    padding: 0 18px;
  }

  .pre_text{
    max-width: 100%;
    text-align: left;
    padding: 0 18px;
    opacity: 80%;
  }
}