.main {
  .convert_section {
    display: flex;
    margin-bottom: 3em;
    .input {
      flex-grow: 1;
    }

    .options {
      width: 10em;
      margin: auto 1em;
      display: flex;
      flex-direction: column;
      .checkbox {
      }
      .convert_button {
        margin-bottom: 1em;
      }
    }

    .output {
      flex-grow: 1;
    }
  }
}
