.login_form {
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 2em;
}

.content_admin {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-top: -6em;

  max-height: 100vh;

}

 .logo {
  height: 32px;
  margin: 16px;
  //background: rgba(255, 255, 255, 0.3);
  display: flex;

  .logo_name {
    margin: 0 auto 0 auto;
    font-size: 22px;
  }
}

.site_layout {
  margin-left: 200px;

  .layout_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1em;
  }
}

.site_layout_background {
  background-color: #fff !important;
}


