
.container {
  display: flex;

  > :first-child{
    width: 100%;
    
    margin: 0 auto;
    
    p, li{
      font-size: 22px;
    }
  }

  .tool_bar {
    margin-left: auto;
    max-width: 350px;
    padding-left: 1em;

    .thumbnail {
      object-fit: cover;
    }

    .upload_button {
      * {
        width: 100%;
      }
    }

    .title {
      margin-bottom: 1em;
    }

    .author {
      margin-left: 1em;
      width: 40%;
    }

    button {
      display: block;
      width: 100%;
    }
  }
}
