.main {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  padding-top: 2em;
  width: 90%;
  min-height: 90vh;

  display: flex;
  flex-direction: column;

  .logo {
    height: 235px;
    margin-bottom: 2em;
    object-fit: contain;
    width: fit-content;
    margin: 0 auto;
  }
}
