$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$border-radius: 12px;
$border: 1px solid #d1d1d1;

.tool {
  max-width: 1200px;
  width: 90%;
  margin: 2em auto;
  min-height: 90vh;

  .container {
    padding: 1em;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 1em;

      > * {
        margin-bottom: 0;
        margin-right: 1em;
      }

      svg {
        transform: scale(2);
      }
    }
  }
}
