$border-radius: 12px;
$box-shadow: rgba(99, 99, 99, 0.123) 0px 2px 8px 0px;

@media only screen and (min-width: 875px) {
  .card {
    flex-direction: row !important;
    max-width: 800px;
    min-width: 800px;

    .image {
      max-width: 40% !important;
      border-radius: $border-radius 0 0 $border-radius !important;
    }
  }
}

.card {
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    cursor: pointer;
  }

  .image {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    min-width: 40%;
    height: 200px;
    border-radius: $border-radius $border-radius 0 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
      font-size: 1.2em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      padding: 0.8em 18px 0.5em 18px !important;
      text-align: left;
      word-break: break-word;
    }

    .pre_text {
      max-width: 100%;
      text-align: left;
      padding: 0 18px;
      opacity: 80%;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    .tags {
      min-height: 1em;
      display: flex;
      flex-wrap: wrap;
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: 1em;

      > span {
        margin-bottom: 8px !important;
      }
    }

    .card_author {
      display: flex;
      align-items: center;
      margin: auto 18px 18px 18px;

      p {
        margin-bottom: 0;
      }
      
      .name_time {
        margin-left: 10px;
        .name {
          font-size: 12px;
          font-weight: bold;
          text-align: left;
        }
  
        .time {
          font-size: 10px;
          margin-left: auto;
          color: #8c9aad;
        }
      }
    }
  }
}
