$gray: #a0aec0;

.container {
  min-height: 84vh;
  margin: 0 auto 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 2em 1em 0 1em;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .title {
    margin: 0;
    font-size: 34px;
  }

  .content{
    font-size: larger;

    img{
      min-width: 100%;
    }
  }
}