.post_list {
  margin-top: 2em;
  align-items: center;
  display: flex;
  flex-direction: column;

  .title {
    text-align: left;
    font-size: 18px;
    margin-bottom: 0;

    max-width: 800px;
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-wrap: wrap;

    align-items: center;
  }
}
