$box-shadow: 0 12px 15px rgb(140 152 164 / 10%);

.header {
  display: flex;
  justify-content: center;

  box-shadow: $box-shadow;

  padding: 0;
  background-color: #ffffff !important;

  height: 60px;

  .container {
    display: flex;
    align-items: center;

    max-width: 1000px;
    width: 100%;

    .logo {
      height: 100%;
      padding: 1em;

      &:hover {
        cursor: pointer;
      }
    }

    .navigations {
      margin: 1em 0 1em auto;

      .navigate_button {
        font-size: larger;

        color: rgb(112, 127, 143);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
