$box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
$border-radius: 12px;
$border: 1px solid #d1d1d1;

.statusPanel {
  max-width: 350px;
  min-width: 300px;
  width: 25vw;

  z-index: 9999999;
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;

  background-color: white;

  box-shadow: $box-shadow;
  border-radius: $border-radius;

  img {
    width: 100%;
    border-radius: $border-radius $border-radius 0 0;
  }

  span {
    font-size: large;
    width: 100%;
    padding: 0.5em;
  }
}

.readyDownload {
  .close {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 2em;

    &:hover {
      cursor: pointer;
    }
  }
}

.downloading {
  .close {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 2em;

    &:hover {
      cursor: pointer;
    }
  }
  .text {
    display: flex;
    * {
      margin-right: 5px;
    }
    .fileCount {
      color: red;
    }
  }
}

.loginSection {
  margin-bottom: 1em;

  input {
    margin-bottom: 0.5em;
  }

  button {
    margin-right: 0.5em;
  }
}

.data {
  input {
    margin-bottom: 1em;
  }
  .boards {
    > button {
      margin-right: 0.5em;
      margin-bottom: 0.5em;
    }
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }

  .list {
    > button {
      margin-right: 0.5em;
      margin-bottom: 0.5em;
    }
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: auto;

    .item {
      display: flex;
      justify-content: space-between;
      padding: 1em 2em 1em 1em;
      border-radius: 12px;
      border: $border;
      margin-bottom: 1em;
      background-color: white;
      p {
        margin: 0;
        line-height: 32px;
      }

      .task {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .count {
          margin-left: 1em;
          display: flex;
          align-items: center;
          justify-content: center;
          * {
            margin-right: 6px;
          }
        }

        .actionButtons {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.ant-spin {
  max-height: none !important;
}
