$gray: #8c9aad;
$border-radius: 12px;
$box-shadow: rgba(99, 99, 99, 0.123) 0px 2px 8px 0px;

@media only screen and (min-width: 875px) {
  .content {
    p,
    li {
      font-size: 22px !important;
    }
  }
}

.container {
  min-height: 84vh;
  margin: 0 auto 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 2em 1em 0 1em;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .title {
    margin: 0;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

  .author {
    display: flex;
    margin: 1.5em 0;

    :first-child {
      margin-right: 10px;
    }

    .info {
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
      }

      .name {
        font-weight: bold;
        font-size: 14px;
      }

      .time {
        color: $gray;
        font-size: 12px;
      }
    }
  }

  .track {
    margin: 1em 0;
  }

  .thumb {
    max-height: 30em;
    object-fit: contain;
    max-width: 100%;
  }

  .content {
    overflow-y: hidden;
    max-width: 100%;
    margin-bottom: 1em;
    min-height: 600px;

    > {
      max-width: 100%;
    }

    iframe {
      width: 100%;
      min-height: 400px;
    }

    p,
    li {
      font-size: 16px;
      img {
        margin-bottom: 1em;
        max-width: 100%;
      }
    }

    > div > div > div {
      padding: 0 !important;
    }
  }

  .footer {
    margin-top: auto;
    padding-top: 1em;
    border-top: 1px rgb(211, 211, 211) solid;
    width: 100%;

    .lastModify {
      color: $gray;
    }

    .views {
      color: $gray;
    }

    .relateArticle {
      margin-top: 2em;
      margin-bottom: 2em;
      display: flex;
      flex-direction: column;
      width: 100%;

      .relateArticleTitle {
        font-weight: bold;
      }

      .list {
        display: flex;
        width: 100%;
        overflow-x: auto;
        padding: 0 1em 1em 1em;

        .card {
          background-color: white;
          border-radius: $border-radius;
          box-shadow: $box-shadow;
          margin-right: 1em;
          min-width: 220px;
          display: flex;
          flex-direction: column;

          transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

          &:hover {
            cursor: pointer;
          }

          .image {
            object-fit: cover;
            width: 100%;
            max-width: 100%;
            min-width: 40%;
            height: 100px;
            border-radius: $border-radius $border-radius 0 0;
          }

          .info {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .title {
              font-size: 1em;
              font-weight: 500;
              padding: 0.8em 18px 0.5em 18px !important;
              text-align: left;
              word-break: break-word;
            }

            .card_author {
              display: flex;
              align-items: center;
              margin: auto 18px 18px 18px;

              p {
                margin-bottom: 0;
              }

              .name_time {
                margin-left: 10px;
                .name {
                  font-size: 12px;
                  font-weight: bold;
                  text-align: left;
                }

                .time {
                  font-size: x-small;
                  margin-left: auto;
                  color: #8c9aad;
                }
              }
            }
          }
        }
      }
    }
  }
}
