$hover-background-color: #F0F2F5;

.main {
  .thumbnail_img {
    max-width: 100%;
  }

  .action_dropdown {
    padding: 1em;
    &:hover {
      cursor: pointer;
    }
  }

  .header {
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;

    .selected_count {
      margin: auto 0 5px 0px;
    }

    .actions {
      display: flex;
      .search {

      }
    }
    .refresh_icon {
      height: 36px;
      padding: 5px;
      border-radius: 50%;

      position: absolute;
      bottom: 0.5em;
      right: 0;

      &:hover {
        cursor: pointer;
        background-color: $hover-background-color;
      }
    }
  }
}
